h1{
	color: darkgreen;
	font-size: 36px;
}

body {
    background: white
}

.myOuterDiv {
  border: 2px outset black;
  background-color: white;
  text-align: center;
  align: center;
  width: 100%;
}

.urlDiv1 {
  border: 3px outset rgb(0, 0, 0);
  background-color: lightyellow;
  text-align: center;
  align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative; /* <-- ensures child absolute elements are placed relative to this block */
}

.urlDiv {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 8px;
            width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
.remove-btn {
            position: absolute;
            top: 8px;
            right: 8px;
            background: #eb887d;
            color: white;
            border: 1px solid #5b0505;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 4px;
}
.remove-btn:hover {
            background: #c0392b;
}

.add-btn {
            position: relative;
            top: 8px;
            right: 8px;
            background: #a3cff3;
            color: rgb(64, 8, 184);
            border: 1px solid #0b0b0b;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 4px;
}
.add-btn:hover {
            background: #4ca4de;
}


figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: lightgrey;
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: left;
}

/* Style the search field */
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.search button:hover {
    background: #0b7dda;
}