{% extends 'base.html' %}

{% block content %}
    <div align="center">
        <br>
        <figure >
            <figcaption>
                <div align="center">
                    Listen & Download the merged audio file: <b>{{merged_file_name}}</b>
                </div>
            </figcaption>
            <br>
            <audio controls >
                <source src="/static/working_dir/{{merged_file_name}}" />
                Your browser does not support the audio tag.
            </audio>
        </figure>
    </div>
{% endblock %}