{% extends 'base.html' %}

{% block content %}
    <div align="center">
        <br>
        <div class="urlDiv1" >
            <figcaption>
                <div style="text-align: center;">
                    Listen & Download the merged audio file <br> <b>{{merged_file_name}}</b>
                </div>
            </figcaption>
            <br>
            <audio controls  style="margin: 20px; ">
                <source src="/static/working_dir/{{merged_file_name}}" />
                Your browser does not support the audio tag.
            </audio>
        </div>
    </div>
{% endblock %}