<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'test-navbar-styles.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>

   
    <header class="navbar">
        <!-- <a href="#" class="logo"> 
          <img src="{{ url_for('static', filename= 'logo.jpg') }}" alt="Logo" height="30px" width="30px">
        </a> -->
        <!-- Cube container -->
        <a href="https://youtube.com" target="_blank" class="youtube-cube-container">
          <div class="youtube-cube-container">
            <div class="cube">
              <div class="face front"><i class="fab fa-youtube"></i></div>
              <div class="face back"><i class="fas fa-music"></i></div>
              <div class="face right"><i class="fas fa-film"></i></div>
              <div class="face left"><i class="fas fa-music"></i></div>
              <div class="face bottom"><i class="fas fa-music"></i></div>
              <div class="face top">🎧</i></div>
            </div>
          </div>
        </a>
        <nav class="nav-links" id="nav-links">
            <a href="/">Clip & Merge</a>
            <a href="/search">Search</a>
            <!-- <a href="/test-navbar">NavBar</a>
            <a href="/deepSeek">DeepSeek</a> -->
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </nav>
        <button class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </button>
    </header>
    <main style="padding-top: 80px; text-align: center;">
      <div class="container">
          <table>
              <tr>
                  <td><img src="{% block header_image %} {% endblock %}" width="70%"></td>
              </tr>
          </table>

          {% block content %} {% endblock %}
      </div>
    </main>

    <footer class="footer ">
        <!-- <div class="disclaimer"> -->
        <div style="text-align:center; font-size: 0.9em; color: #aaa; margin-top: 20px;">
            <p><strong>Disclaimer:</strong> This tool is intended for personal and educational use only. 
            By using this service, you confirm that you own or have permission to use the content provided. 
            Downloading, modifying, or redistributing copyrighted YouTube material without authorization 
            may violate YouTube’s Terms of Service and applicable copyright laws.</p>
        </div>
        <div class="container flex justify-center px-3 py-2">
            
            <div style="text-align: right; ">
                <p>&copy; 2025 Khurshid Usmani. All rights reserved. </p>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename= 'scripts.js') }}"> </script>
    <script src="{{ url_for('static', filename= 'test-navbar-scripts.js') }}"> </script>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>