{% extends 'base.html' %}

{% block header_image2 %} /static/search.png{% endblock %}

{% block content %}

    <div align="center" >
            <h1 class="page-title">{% block title %}{{title}}{% endblock %}</h1>
        <br>
        <table>
            <tr align="center">
                <td align="center" width="50%">
                    <form class="search" action="/searchResults" method="post" onsubmit="showLoader()">
                      <input type="text" placeholder="Search.." ID="searchText" name="searchText">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </td>
            </tr>
        </table>
      </div>

        <!-- Loader overlay -->
        <div id="overlay">
            <div class="spinner"></div>
            <p style="color:white; margin-top:10px;">Please wait...</p>
        </div>

{% endblock %}